server:
  port: 8086

spring:
  application:
    name: tracking-service
  
  datasource:
    url: jdbc:h2:file:./data/trackingdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  # Configuración RabbitMQ
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

# Configuración de Exchanges y Queues
rabbitmq:
  exchanges:
    tracking: tracking.exchange
  queues:
    ubicacion: repartidor.ubicacion.actualizada
  routing-keys:
    ubicacion: tracking.ubicacion

# Documentación OpenAPI
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
