server:
  port: 8088

spring:
  application:
    name: graphql-service
  
  datasource:
    url: jdbc:h2:file:./data/graphqldb
    driverClassName: org.h2.Driver
    username: sa
    password:
  
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
  
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
    path: /graphql
